---
title: "PrintNanny"
bodyClass: bg-zinc-800
preHeader: "Founding Membership"
image: "testing"
---

<extends src="src/layouts/main.html">
    <block name="template">
        <table class="w-full font-sans">
            <tr>
                <td align="center" class="bg-zinc-700 sm:px-4">
                    <table class="w-150 sm:w-full bg-zinc-100 dark:bg-zinc-700">
                        <tr>
                            <td class="p-12 sm:py-8 sm:px-6 text-center">
                                <a href="https://printnanny.ai">
                                    <img src="https://cdn.printnanny.ai/mail/founding-member-offer-1-nov-2022/logo-rect-light.png"
                                        width="250" alt="PrintNanny.ai"
                                        class="max-w-full align-middle [border:0] dark:hidden">
                                    <img src="https://cdn.printnanny.ai/mail/founding-member-offer-1-nov-2022/logo-rect-dark.png"
                                        width="250" alt="PrintNanny.ai"
                                        class="max-w-full align-middle [border:0] hidden dark:inline">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="rounded text-left bg-indigo-500 bg-gradient-to-tl from-purple-700 to-indigo-500">
                                <component src="src/components/v-fill.html" width="600px" height="400px">
                                    <div class="leading-16 sm:h-8" role="separator">&zwnj;</div>
                                    <table class="w-full">
                                        <tr>
                                            <td class="w-12 sm:w-6"></td>
                                            <td>
                                                <h1 class="m-0 mb-4 text-4xl sm:text-3xl text-white sm:leading-10">
                                                    You're invited! Become a <br><strong>✨Founding Member✨</strong><br>
                                                    Get unlimited access
                                                </h1>
                                                <h1 class="m-0 mb-4 text-2xl sm:text-2xl text-white sm:leading-10">
                                                    Tired of babysitting your 3D printer?
                                                </h1>
                                                <p class="m-0 text-white text-lg leading-6">
                                                    4 Founding Member spots are left in the November batch!
                                                </p>
                                                <div class="leading-8 sm:h-8" role="separator">&zwnj;</div>
                                                <div class="leading-full">
                                                    <a href="https://printnanny.ai/shop/founding-membership"
                                                        class="inline-block py-4 px-6 rounded shadow-lg text-base font-semibold text-center [text-decoration:none] text-white bg-orange-400 bg-gradient-to-tl from-orange-400 to-rose-400 hover:from-orange-300 hover:to-rose-500">
                                                        <outlook>
                                                            <i
                                                                class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                                                        </outlook>
                                                        <span class="mso-text-raise-4">Reserve My Spot &rarr;</span>
                                                        <outlook>
                                                            <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                                                        </outlook>
                                                    </a>
                                                </div>
                                                <p class="my-4 text-white text-lg leading-6 ">
                                                    Get early access to PrintNanny at a discounted price.<br>
                                                </p>
                                            </td>
                                            <td class="w-12 sm:w-6"></td>
                                        </tr>
                                    </table>
                                    <div class="leading-16 sm:h-8" role="separator">&zwnj;</div>
                                </component>
                            </td>
                        </tr>
                        <tr role="separator">
                            <td class="h-8"></td>
                        </tr>
                        <tr>
                            <td class="w-full px-6 sm:px-0 text-left">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-full pb-8 sm:w-full sm:inline-block">
                                            <table class="w-full">
                                                <tr>
                                                    <td class="p-6 bg-white rounded shadow-sm">
                                                        <p class="m-0 mb-1 text-sm text-slate-500">
                                                            👋 Hi, my name is Leigh.
                                                        </p>
                                                        <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-700">
                                                            I created PrintNanny OS to automate the boring parts of 3D
                                                            printing.
                                                        </h2>
                                                        <div class="grid md:grid-cols-4 sm:grid-cols-3">
                                                            <p class="m-0 mb-6 text-base text-slate-700 col-span-3">
                                                                You're receiving this email because you requested access
                                                                to <a href="https://printnanny.ai/">PrintNanny.ai</a>
                                                                <br>
                                                                <br>
                                                                I'd like to invite you become a Founding Member. Would
                                                                you like to learn more?
                                                                <br>
                                                                <br>
                                                                <a href="https://printnanny.ai/docs/faq/founding-membership/"
                                                                    class="inline-block py-4 px-6 rounded shadow-lg text-base font-semibold text-center [text-decoration:none] text-white bg-orange-400 bg-gradient-to-tl from-orange-400 to-rose-400 hover:from-orange-300 hover:to-rose-500">
                                                                    <outlook>
                                                                        <i
                                                                            class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                                                                    </outlook>
                                                                    <span class="mso-text-raise-4">Founding Member FAQ
                                                                        &rarr;</span>
                                                                    <outlook>
                                                                        <i
                                                                            class="tracking-6 -mso-font-width-full">&#8202;</i>
                                                                    </outlook>
                                                                </a>

                                                                <br>
                                                                <br>
                                                                Hit reply or email leigh@printnanny.ai if you have any
                                                                questions.
                                                            </p>
                                                            <img src="https://cdn.printnanny.ai/mail/founding-member-offer-1-nov-2022/LeighJohnson_TensorFlow.jpg"
                                                                width="150" class="rounded" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-full px-6 sm:px-0 text-center">
                                <h1
                                    class="m-0 mb-4 text-slate-700 dark:text-zinc-200 text-4xl sm:text-3xl sm:leading-10 text-center">
                                    Recent & Upcoming Releases
                                </h1>
                                <a href="https://printnanny.ai/docs/category/release-history/"
                                    class="inline-block my-4 py-4 px-6 rounded shadow-lg text-base font-semibold text-center [text-decoration:none] text-white bg-orange-400 bg-gradient-to-tl from-orange-400 to-rose-400 hover:from-orange-300 hover:to-rose-500">
                                    <outlook>
                                        <i class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                                    </outlook>
                                    <span class="mso-text-raise-4">Release History &rarr;</span>
                                    <outlook>
                                        <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                                    </outlook>
                                </a>
                                <table class="w-full">

                                    <tr class="text-left">
                                        <td class="w-1/2 pr-4 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top">
                                            <table class="w-full">
                                                <tr>
                                                    <td class="p-6 bg-white rounded shadow-sm">
                                                        <p class="m-0 mb-1 text-sm text-slate-500">
                                                            UPCOMING
                                                        </p>
                                                        <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-500">
                                                            v0.5.0
                                                        </h2>
                                                        <p class="m-0 mb-6 text-base text-slate-700">
                                                            Magic login links, configurable mDNS preferences, and more.
                                                        </p>
                                                        <a href="https://github.com/bitsy-ai/printnanny-os/milestone/5"
                                                            class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]">
                                                            What's Coming? &rarr;
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="w-1/2 h-full pl-4 sm:px-0 sm:w-full sm:inline-block align-top">
                                            <table class="w-full">
                                                <tr>
                                                    <td class="p-6 bg-white rounded shadow-sm">
                                                        <p class="m-0 mb-1 text-sm text-slate-500">
                                                            7 Nov, 2022
                                                        </p>
                                                        <h2 class="m-0 mb-6 text-2xl leading-6 text-slate-500">
                                                            v0.4.3
                                                        </h2>
                                                        <p class="m-0 mb-6 text-base text-slate-700">
                                                            Mainsail & Syncthing GA. PrintNanny monitoring 100% offline.
                                                        </p>
                                                        <a href="https://printnanny.ai/docs/release-history/0.4.x-dunite-langdale/"
                                                            class="text-base text-indigo-700 hover:text-indigo-500 [text-decoration:none]">
                                                            Read the Release Notes &rarr;
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr role="separator">
                            <td class="h-16 sm:h-8"></td>
                        </tr>
                        <tr>
                            <td class="px-12 sm:px-6 text-left">
                                <h3 class="m-0 text-base font-semibold text-slate-600 dark:text-zinc-200 uppercase">
                                    Community
                                </h3>
                                <div class="leading-6" role="separator">&zwnj;</div>
                                <table class="w-full">
                                    <tr>
                                        <td>
                                            <a href="https://discord.gg/sf23bk2hPr"
                                                class="inline-block py-4 px-6 m-2 rounded shadow-lg text-base font-semibold text-center [text-decoration:none] text-white bg-orange-400 bg-gradient-to-tl from-orange-400 to-rose-400 hover:from-orange-300 hover:to-rose-500">
                                                <outlook>
                                                    <i
                                                        class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                                                </outlook>
                                                <span class="mso-text-raise-4">Discord &rarr;</span>
                                                <outlook>
                                                    <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                                                </outlook>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://github.com/bitsy-ai/printnanny-os/milestones"
                                                class="inline-block py-4 px-6 m-2 rounded shadow-lg text-base font-semibold text-center [text-decoration:none] text-white bg-orange-400 bg-gradient-to-tl from-orange-400 to-rose-400 hover:from-orange-300 hover:to-rose-500">
                                                <outlook>
                                                    <i
                                                        class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                                                </outlook>
                                                <span class="mso-text-raise-4">Milestones &rarr;</span>
                                                <outlook>
                                                    <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                                                </outlook>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr role="separator">
                            <td class="h-16 sm:h-8"></td>
                        </tr>
                        <tr>
                            <td class="px-12 sm:px-6 py-4 bg-white rounded text-left shadow-sm">
                                <p class="m-0 text-sm text-slate-500">
                                    You are receiving this email because you signed up for PrintNanny development
                                    updates. You may
                                    <a href="%unsubscribe_url%"
                                        class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">unsubscribe</a>
                                    at any time.
                                </p>
                            </td>
                        </tr>
                        <tr role="separator">
                            <td class="h-12 sm:h-8"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>